.*.swp
._*
.DS_Store
.git
.hg
.lock-wscript
.svn
npm-debug.log
**/.env
.npmignore
.npmrc
.nvmrc
.releaserc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.babelrc
.prettierrc.js
.prettierrc
.prettierignore
**/jest.config.ts
**/jest.config.d.ts
**/jest.config.js
jsdoc.json
docs
restApi-docs
*.md
.yarnrc
.github
lerna.json
.circleci
**/coverage
**/tsconfig.json
**/yarn.lock
**/dist/**
**/cdk.out/**
**/__tests__/**
**/test/**
