.*.swp
._*
.DS_Store
.git
.hg
.lock-wscript
.svn
npm-debug.log
.env
.npmignore
.npmrc
.nvmrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.babelrc
.prettierrc.js
.prettierrc
.prettierignore
jest.config.js
jsdoc.json
**/__tests__/**
docs
api-docs
*.md
.yarnrc
.github
.circleci
tsconfig.json
lerna.json
yarn.lock
